name: sprawozdanie
on: push
jobs:
  pdf:
    runs-on: ubuntu-22.04
    steps:
      - run: pip install scipy pint open_atmos_jupyter_utils ipykernel
      - uses: actions/checkout@v4
      #- run: sudo apt-get install texlive-xetex inkscape pandoc
      - run: pip install nbconvert # automatyzacja nitebooka jupyter
      - run: python -m nbconvert --to script --execute .github/workflows/shallow_water.ipynb
      - uses: actions/upload-artifact@v4
        with:
          path: .github/workflows/anim.gif
