name: main

on:
  push:
  workflow_dispatch:

jobs:
  job:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install \
            ipykernel \
            nbconvert \
            scipy \
            pint \
            numpy \
            PyMPDATA \
            open-atmos-jupyter-utils

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pandoc \
            texlive-xetex \
            inkscape

      - name: Execute notebook and build PDF
        run: |
          python -m nbconvert projekt1.ipynb \
            --to pdf \
            --execute \
            --no-input \
            --PDFExporter.title="Wysokość fali tsunami przy brzegu" \
            --PDFExporter.author="Łukasz Puchała"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sprawko
          path: projekt1.pdf
